.footer {
    background-color: #000;
    color: #fff;
    border-top: 2.5px solid #089bdf;
    &_text {
        padding-top: 1.4rem;
    }
    &_icons {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 1.3rem;
        a {
            text-decoration: none;
            color: #fff;
            padding: 0 1.5rem;
        }
        a:hover {
            transition: 0.4s;
            position: relative;
            color: #53baea;
        }
    }
}
