.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80%;
    .boxes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem;
        padding-top: 4rem;
        justify-items: center;
        .box {
            color: #000;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1.5rem 0 1rem 0;
            border: 2px solid #53baea;
            border-radius: 5%;
            background-color: #fafafa;
            box-shadow: -7px 23px 55px -26px rgba(255, 255, 255, 0.55);
            &_icon {
                color: #53baea;
                font-size: 6.3rem;
            }
            &_title {
                color: #000;
                padding-top: 1.3rem;
            }
            &_textAll {
                padding-top: 1.3rem;
                .box_text {
                    color: rgba(0, 0, 0, 0.73);
                    padding-bottom: 0.4rem;
                    text-align: center;
                }
            }
        }
    }
    .skills_button {
        margin-top: 4rem;
        width: 100%;
        color: #fafafa;
        border: 1px solid #53baea;
        background-color: #000;
        box-shadow: -7px 23px 55px -26px rgba(255, 255, 255, 1);
    }
    .skills_button:hover {
        transition: 0.3s;
        background-color: #fafafa;
        color: #000;
        border: 2px solid #53baea;
    }
}
