.container {
    padding-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
        width: fit-content;
        text-align: center;
    }
}

@media only screen and (max-width: 660px) {
    .container {
        .title {
            font-size: 4rem;
        }
    }
}
