.container {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
        width: fit-content;
        border-bottom: 1px solid #53baea;
        text-align: center;
    }
}
